/**
 * Created by Susan Dangol
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/

/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/

@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{

  }
  .remove-padding-top{
    padding-top: 0;
  }
  .remove-padding-bottom{
    padding-bottom: 0;
  }



  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper{
    .custom-container{
      .header-container{
        .menu-items{
          width: 40%;
        }
        .logo-container{
          width: 30%;
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #login-page {
      .custom-container {
        .inner {
          .login-form {
            padding: 70px 60px;

            .form-wrapper {
              margin-top: 60px;

              form {
                .fields {
                  .form-group {
                    .form-control {
                      padding: 18px 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #donation-page{
      .details-section{
        .details-wrapper{
          .information-container{
            .project-item{
              .img-container{
                height: 550px;
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-page{
    .banner-section{
      .banner-wrapper{
        .img-container{
          img{
            height: 485px;
          }
        }
      }
    }
  }

  .common-stories-section{
    .story-item{
      .img-container{
        img{
          height: 480px;
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider{
    img{
      height: 535px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}


@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 50px 100px;
  }
  h1 {
    font-size: 34px;
  }
  h2{
   font-size: 20px
  }
  h3{
    font-size: 16px;
  }
  .remove-padding-top{
    padding-top: 0;
  }
  .remove-padding-bottom{
    padding-bottom: 0;
  }


  .add-padding-bottom {
    &.large {
      padding-bottom: 100px;
    }
    &.medium {
      padding-bottom: 50px;
    }

  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .custom-container{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #login-page{
      .custom-container {
        .inner {
          .login-form {
            padding: 50px 45px;
            .logo-with-text{
              .logo-container {
                margin-bottom: 26px;
              }
              .section-title {
                padding-bottom: 16px;
              }
            }
            .form-wrapper {
              margin-top: 45px;
              .section-title{
                padding-bottom: 25px;
              }
              form {
                .fields {
                  .form-group {
                    margin-bottom: 25px;
                    .form-control {
                      padding: 14px 20px;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .footer-container {
      .logo{
        .img-container{
          img{
            width: 35%;
          }
        }
      }
      .footer-nav-container {
        .items {
          ul {
            li {
              padding-bottom: 6px;
              &:first-of-type{
                padding-bottom: 16px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-management-system-section {
    .management-container {
      .text-content{
        padding-right: 40px;
      }
    }
  }

  .common-funding-section {
    .funding-container {
      .action {
        .covid-btn{
          padding: 16px 60px;
          font-size: 22px;
        }
      }
    }
  }

  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}

@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 40px 80px;
  }
  .section-title {
    padding-bottom: 24px;
  }
  .remove-padding-top{
    padding-top: 0;
  }
  .remove-padding-bottom{
    padding-bottom: 0;
  }


  .add-padding-bottom {
    &.large {
      padding-bottom: 80px;
    }
    &.medium {
      padding-bottom: 40px;
    }
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #resp-header-wrapper{
    display: block;
    .custom-container {
      padding-top: 16px;
      padding-bottom: 16px;
      .header-container{
        .menu-btn{
          width: 26px;
        }
      }

    }
  }

  #header-wrapper{
    display: none;
  }
  body{
    &.show-menu {
      #header-wrapper {
        .navigation {
          width: 400px;
          padding: 100px 40px 50px;
          ul {
            li {
              a {
                img {
                  padding-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .banner-section {
        .banner-container {
          .item{
            &:first-of-type {
              padding-right: 30px;
              .progress-bar-wrapper {
                margin-top: 30px;
                width: 100%;
              }
            }
          }
        }
      }
    }
    #login-page {
      .custom-container {
        .inner {
          .login-form {
            .logo-with-text {
              .logo-container{
                img{
                  width: 24%;
                }
              }

            }
            .desc{
              p{
                line-height: 20px;
              }
            }
            .form-wrapper {
              margin-top: 40px;
              form {
                .fields {
                  .form-group {
                    margin-bottom: 12px;
                    .form-control {
                      padding: 12px 16px;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #donation-page{
      .details-section{
        .details-wrapper{
          .information-container{
            .project-item{
              padding-right: 30px;
              padding-bottom: 40px;
              .img-container{
                height: 390px;
              }
              .text-content{
                .title{
                  margin: 10px 0;
                }
                .author{
                  margin-bottom: 10px;
                }
              }
            }
            .all-donations-section{
              .donation-items-section{
                .donation-item{
                  margin-bottom: 30px;
                  .img-container{
                    width: 35%;
                    img{
                      height: 80px;
                    }
                  }
                  .text{
                    padding-bottom: 20px;
                    .amount{
                      padding-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
          .donate-section{
            .donation-wrapper{
              padding: 20px;
              .btn-section{
                padding-bottom: 15px;
              }
              .progress-bar-wrapper{
                .progress{
                  margin-top: 15px;
                }
              }
              .donation-text{
                .top-donation{
                  padding-top: 15px;
                  .title{
                    padding-bottom: 10px;
                  }
                  .btn-section{
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-projects{
    .project-item-wrapper{
      margin: 0 -20px -20px -20px;
      .project-item{
        padding: 20px;
      }
    }
  }

  .common-page{
    .banner-section{
      .banner-wrapper{
        .banner-text{
          padding-right: 50px;
        }
        .img-container{
          img{
            height: 385px;
          }
        }
      }
    }
  }

  .covid-btn{
    padding: 9px 34px;
    margin-top: 26px;
  }
  .common-select{
    select {
      height: 42px;
      padding: 0 8px;
      background-position-y: 18px;
    }
  }

  .common-progress-bar {
    .progress {
      height: 25px;
      .bar {
        .pct {
          margin-top: 0px;
        }
      }
    }
  }

  .common-projects{
    .project-item-wrapper{
      .project-item{
        img{
          height: 215px;
        }
      }
    }
  }

  .common-stories-section{
    .story-item{
      .text-section{
        padding-right: 50px;
      }
      .img-container{
        img{
          height: 348px;
        }
      }
    }
  }

  .common-management-system-section {
    .management-container {
      .text-content {
        padding-right: 30px;
      }
      .services-wrapper {
        .service-item {
          width: 33.33%;
          a {
            height: 180px;
            width: 180px;
            .img-container {
              margin-bottom: 12px;
              text-align: center;
              img {
                width: 80%;
              }
            }
            .title{
              text-align: center;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }

  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-dots li button::before {
    font-size: 10px;
  }
  .slick-slider{
    img{
      height: 395px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}

@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 30px 50px;
  }
  .covid-btn {
    padding: 7px 22px;
    margin-top: 24px;
    font-size: 12px;
  }
  h1{
    font-size: 26px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
  }
  .remove-padding-top{
    padding-top: 0;
  }
  .remove-padding-bottom{
    padding-bottom: 0;
  }


  .add-padding-bottom {
    &.large {
      padding-bottom: 60px;
    }
    &.medium {
      padding-bottom: 30px;
    }
    &.small{
      padding-bottom: 20px;
    }
  }
.covid-btn{
  margin-top: 15px;
}

  body{
    &.show-menu{
      #resp-header-wrapper{
        .custom-container{
          .navigation{
            width: 100%;
            padding: 75px 35px;
          }
        }
      }
    }
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  #resp-header-wrapper{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
    .custom-container {
      padding-top: 16px;
      padding-bottom: 16px;
      .header-container{
        .menu-btn{
          width: 26px;
        }
        .logo-container{
          img{
            width: 65%;
          }
        }
      }
    }
  }
  body{
    &.show-menu {
      #header-wrapper {
        .navigation {
          width: 400px;
          padding: 100px 40px 50px;
          ul {
            li {
              a {
                img {
                  padding-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    padding-top: 80px;
    #home-page {
      .banner-section{
        .banner-container{
          .item{
            &:first-of-type{
              padding-right: 10px;
            }
            &:last-of-type{
              padding-left: 30px;
            }
          }
        }
      }
    }
    #login-page{
      .custom-container{
        padding-left: 0;
        padding-right: 0;
      }
    }
    #donation-page{
      .details-section{
        .details-wrapper{
          flex-wrap: wrap;
          .information-container{
            width: 100%;
            .project-item{
              padding-right: 0;
              padding-bottom: 30px;
              .img-container{
                height: 215px;
              }
              .text-content{
                .title{
                  margin: 7px 0;
                }
                .author{
                  margin-bottom: 7px;
                }
              }
            }
            .all-donations-section{
              padding-right: 0;
              .donation-items-section{
                .donation-item{
                  .img-container{
                    img{
                      height: 55px;
                    }
                  }
                  .text{
                    padding-left: 15px;
                  }
                }
              }
            }
          }
          .donate-section{
            width: 100%;
            padding-top: 30px;
            .donation-wrapper{
              position: relative;
              box-shadow: none;
              padding: 0;
            }
          }
        }
      }
    }
    #fundraisers-page{
      .heading-section{
        .custom-container{
          padding-bottom: 0;
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .footer-container {
      .logo .img-container img {
        width: auto;
      }
      .footer-nav-container {
        .items {
          ul {
            li{
              padding-bottom: 0;
              &:first-of-type {
                padding-bottom: 9px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-management-system-section {
    .management-container {
      .services-wrapper {
        .service-item{
          padding-bottom: 30px;
          width: 50%;
          a{
            height: 140px;
            width: 140px;
            .img-container {
              margin-bottom: 8px;
              img {
                width: 70%;
              }
            }
            .title{
              p{
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .common-funding-section {
    .funding-container {
      .action {
        .covid-btn {
          padding: 12px 38px;
          font-size: 18px;
        }
      }
    }
  }

  .common-stories-section{
    .story-item{
      .text-section{
        padding-right: 25px;
      }
    }
  }

  .common-projects{
    .project-item-wrapper{
      .project-item{
        width: 100%;
        img{
          height: 100%;
        }
      }
    }
  }

  .common-page{
    .banner-section{
      .banner-wrapper{
        .banner-text{
          padding-right: 30px;
        }
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/

  .slick-slider{
    img{
      height: 310px;
    }
    .slick-prev{
      left: -50px;
      &:before{
        padding: 0 25px;
      }
    }
    .slick-next{
      &:before{
        padding: 0 25px;
      }
    }
  }


  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}

@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
  padding: 30px 30px;
  }
  h1 {
    font-size: 22px;
  }
  .section-title {
    padding-bottom: 13px;
  }
  p{
    line-height: 20px;
    margin-bottom: 13px;
  }


  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #resp-header-wrapper {
    .custom-container {
      .header-container {
        flex-direction: row-reverse;
        .logo-container {
          margin-right: 0;
        }
        .login-request{
          display: none;
        }
      }
      .navigation {
        ul {
          li {
            padding-bottom: 26px;
            a{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  body{
    &.show-menu {
      #header-wrapper {
        .navigation {
          width: 100%;
          padding: 80px 20px 30px;
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .banner-section {
        .banner-container {
          &.common-flex{
            flex-wrap: wrap-reverse;
            .item{
              &:first-of-type{
                padding-right: 0;
                margin-bottom: 0;
                margin-top: 30px;
              }
              &:last-of-type{
                padding-left: 0;

              }
            }
          }
        }
      }
      .ongoing-projects-section {
        .projects-container {
          .project-item-wrapper {
            .project-item{
              width: 100%;
            }
          }
        }
      }
    }
    #login-page {
      .custom-container {
        padding: 0;
        .inner {
          .img-container{
            padding-bottom: 100%;
            margin-bottom: 0;

          }
          .login-form {
            padding: 30px 30px 50px;
            .logo-with-text .logo-container img {
              width: auto;
            }
          }
        }
      }
    }
    #request-page{
      max-width: none;
      padding: 30px;
      .form-wrapper{
        .information{
          .search{
            span{
              width: 15%;
            }
            input{
              width: 85%;
            }
          }
        }
      }
      #msform{
        .common-btn{
          padding: 12px 35px;
        }
      }
    }
  }
  .col-3{
    width: auto;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .footer-container {

      .logo{
        width: 100%;
      }
      .footer-nav-container{
        width: 100%;
        margin-top: 30px;
        justify-content: initial;
        .items{
          width: 100%;
          padding-bottom: 20px;
          margin-left: 0;
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-flex{
    .item{
      width: 100%;
      &:first-of-type{
        margin-bottom: 30px;
      }
    }
  }
  .common-select{
    select{
      width: 100%;
    }
  }

  .common-stories-section{
    .story-item {
      flex-direction: column-reverse;

      .text-section {
        padding-right: 0;
        width: 100%;
        padding-top: 20px;
      }

      .img-container {
        width: 100%;
        img {
          height: 212px;
        }
      }
    }
  }

  .common-management-system-section {
    .management-container {
      .text-content{
        padding-right: 0;
      }
      .services-wrapper {
        .service-item{
          width: 100%;
          margin-bottom: 30px;
          &:nth-child(1), &:nth-child(2)  {
            a{
              margin-left: auto;
            }
          }
          a{
            margin: auto;
            height: 180px;
            width: 180px;
            img{
              width: 100%;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  .common-page{
    .banner-section{
      .banner-wrapper{
        flex-direction: column-reverse;
        .banner-text{
          padding-right: 0;
          width: 100%;
        }
        .img-container{
          width: 100%;
          img{
            height: 210px;
          }
        }
      }
    }
    .fund-information-section{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .common-funding-section{
    .custom-container{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider{
    .slick-next{
      right: 0px;
    }
    .slick-prev{
      left: -35px;
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}



