/**
 * Created by Susan Dangol
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/
@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .remove-padding-top {
    padding-top: 0; }

  .remove-padding-bottom {
    padding-bottom: 0; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .header-container .menu-items {
    width: 40%; }
  #header-wrapper .custom-container .header-container .logo-container {
    width: 30%; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #login-page .custom-container .inner .login-form {
    padding: 70px 60px; }
    #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper {
      margin-top: 60px; }
      #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group .form-control {
        padding: 18px 24px; }
  #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .img-container {
    height: 550px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-page .banner-section .banner-wrapper .img-container img {
    height: 485px; }

  .common-stories-section .story-item .img-container img {
    height: 480px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider img {
    height: 535px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/ }
@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 50px 100px; }

  h1 {
    font-size: 34px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 16px; }

  .remove-padding-top {
    padding-top: 0; }

  .remove-padding-bottom {
    padding-bottom: 0; }

  .add-padding-bottom.large {
    padding-bottom: 100px; }
  .add-padding-bottom.medium {
    padding-bottom: 50px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container {
    padding-top: 20px;
    padding-bottom: 20px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #login-page .custom-container .inner .login-form {
    padding: 50px 45px; }
    #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .logo-container {
      margin-bottom: 26px; }
    #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .section-title {
      padding-bottom: 16px; }
    #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper {
      margin-top: 45px; }
      #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper .section-title {
        padding-bottom: 25px; }
      #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group {
        margin-bottom: 25px; }
        #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group .form-control {
          padding: 14px 20px;
          font-size: 16px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .footer-container .logo .img-container img {
    width: 35%; }
  #footer-wrapper .footer-container .footer-nav-container .items ul li {
    padding-bottom: 6px; }
    #footer-wrapper .footer-container .footer-nav-container .items ul li:first-of-type {
      padding-bottom: 16px;
      font-size: 20px; }

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-management-system-section .management-container .text-content {
    padding-right: 40px; }

  .common-funding-section .funding-container .action .covid-btn {
    padding: 16px 60px;
    font-size: 22px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/ }
@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 40px 80px; }

  .section-title {
    padding-bottom: 24px; }

  .remove-padding-top {
    padding-top: 0; }

  .remove-padding-bottom {
    padding-bottom: 0; }

  .add-padding-bottom.large {
    padding-bottom: 80px; }
  .add-padding-bottom.medium {
    padding-bottom: 40px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #resp-header-wrapper {
    display: block; }
    #resp-header-wrapper .custom-container {
      padding-top: 16px;
      padding-bottom: 16px; }
      #resp-header-wrapper .custom-container .header-container .menu-btn {
        width: 26px; }

  #header-wrapper {
    display: none; }

  body.show-menu #header-wrapper .navigation {
    width: 400px;
    padding: 100px 40px 50px; }
    body.show-menu #header-wrapper .navigation ul li a img {
      padding-right: 15px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .banner-section .banner-container .item:first-of-type {
    padding-right: 30px; }
    #content-wrapper #home-page .banner-section .banner-container .item:first-of-type .progress-bar-wrapper {
      margin-top: 30px;
      width: 100%; }
  #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .logo-container img {
    width: 24%; }
  #content-wrapper #login-page .custom-container .inner .login-form .desc p {
    line-height: 20px; }
  #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper {
    margin-top: 40px; }
    #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group {
      margin-bottom: 12px; }
      #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group .form-control {
        padding: 12px 16px;
        font-size: 14px; }
  #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item {
    padding-right: 30px;
    padding-bottom: 40px; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .img-container {
      height: 390px; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .title {
      margin: 10px 0; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .author {
      margin-bottom: 10px; }
  #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item {
    margin-bottom: 30px; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .img-container {
      width: 35%; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .img-container img {
        height: 80px; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .text {
      padding-bottom: 20px; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .text .amount {
        padding-bottom: 5px; }
  #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper {
    padding: 20px; }
    #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .btn-section {
      padding-bottom: 15px; }
    #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .progress-bar-wrapper .progress {
      margin-top: 15px; }
    #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation {
      padding-top: 15px; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .title {
        padding-bottom: 10px; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .btn-section {
        padding-bottom: 0; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-projects .project-item-wrapper {
    margin: 0 -20px -20px -20px; }
    .common-projects .project-item-wrapper .project-item {
      padding: 20px; }

  .common-page .banner-section .banner-wrapper .banner-text {
    padding-right: 50px; }
  .common-page .banner-section .banner-wrapper .img-container img {
    height: 385px; }

  .covid-btn {
    padding: 9px 34px;
    margin-top: 26px; }

  .common-select select {
    height: 42px;
    padding: 0 8px;
    background-position-y: 18px; }

  .common-progress-bar .progress {
    height: 25px; }
    .common-progress-bar .progress .bar .pct {
      margin-top: 0px; }

  .common-projects .project-item-wrapper .project-item img {
    height: 215px; }

  .common-stories-section .story-item .text-section {
    padding-right: 50px; }
  .common-stories-section .story-item .img-container img {
    height: 348px; }

  .common-management-system-section .management-container .text-content {
    padding-right: 30px; }
  .common-management-system-section .management-container .services-wrapper .service-item {
    width: 33.33%; }
    .common-management-system-section .management-container .services-wrapper .service-item a {
      height: 180px;
      width: 180px; }
      .common-management-system-section .management-container .services-wrapper .service-item a .img-container {
        margin-bottom: 12px;
        text-align: center; }
        .common-management-system-section .management-container .services-wrapper .service-item a .img-container img {
          width: 80%; }
      .common-management-system-section .management-container .services-wrapper .service-item a .title {
        text-align: center;
        padding: 0 15px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-dots li button::before {
    font-size: 10px; }

  .slick-slider img {
    height: 395px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/ }
@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 30px 50px; }

  .covid-btn {
    padding: 7px 22px;
    margin-top: 24px;
    font-size: 12px; }

  h1 {
    font-size: 26px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 14px; }

  .remove-padding-top {
    padding-top: 0; }

  .remove-padding-bottom {
    padding-bottom: 0; }

  .add-padding-bottom.large {
    padding-bottom: 60px; }
  .add-padding-bottom.medium {
    padding-bottom: 30px; }
  .add-padding-bottom.small {
    padding-bottom: 20px; }

  .covid-btn {
    margin-top: 15px; }

  body.show-menu #resp-header-wrapper .custom-container .navigation {
    width: 100%;
    padding: 75px 35px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #resp-header-wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999; }
    #resp-header-wrapper .custom-container {
      padding-top: 16px;
      padding-bottom: 16px; }
      #resp-header-wrapper .custom-container .header-container .menu-btn {
        width: 26px; }
      #resp-header-wrapper .custom-container .header-container .logo-container img {
        width: 65%; }

  body.show-menu #header-wrapper .navigation {
    width: 400px;
    padding: 100px 40px 50px; }
    body.show-menu #header-wrapper .navigation ul li a img {
      padding-right: 15px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    padding-top: 80px; }
    #content-wrapper #home-page .banner-section .banner-container .item:first-of-type {
      padding-right: 10px; }
    #content-wrapper #home-page .banner-section .banner-container .item:last-of-type {
      padding-left: 30px; }
    #content-wrapper #login-page .custom-container {
      padding-left: 0;
      padding-right: 0; }
    #content-wrapper #donation-page .details-section .details-wrapper {
      flex-wrap: wrap; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container {
        width: 100%; }
        #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item {
          padding-right: 0;
          padding-bottom: 30px; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .img-container {
            height: 215px; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .title {
            margin: 7px 0; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .author {
            margin-bottom: 7px; }
        #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section {
          padding-right: 0; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .img-container img {
            height: 55px; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .text {
            padding-left: 15px; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section {
        width: 100%;
        padding-top: 30px; }
        #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper {
          position: relative;
          box-shadow: none;
          padding: 0; }
    #content-wrapper #fundraisers-page .heading-section .custom-container {
      padding-bottom: 0; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .footer-container .logo .img-container img {
    width: auto; }
  #footer-wrapper .footer-container .footer-nav-container .items ul li {
    padding-bottom: 0; }
    #footer-wrapper .footer-container .footer-nav-container .items ul li:first-of-type {
      padding-bottom: 9px;
      font-size: 14px; }

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-management-system-section .management-container .services-wrapper .service-item {
    padding-bottom: 30px;
    width: 50%; }
    .common-management-system-section .management-container .services-wrapper .service-item a {
      height: 140px;
      width: 140px; }
      .common-management-system-section .management-container .services-wrapper .service-item a .img-container {
        margin-bottom: 8px; }
        .common-management-system-section .management-container .services-wrapper .service-item a .img-container img {
          width: 70%; }
      .common-management-system-section .management-container .services-wrapper .service-item a .title p {
        line-height: 20px; }

  .common-funding-section .funding-container .action .covid-btn {
    padding: 12px 38px;
    font-size: 18px; }

  .common-stories-section .story-item .text-section {
    padding-right: 25px; }

  .common-projects .project-item-wrapper .project-item {
    width: 100%; }
    .common-projects .project-item-wrapper .project-item img {
      height: 100%; }

  .common-page .banner-section .banner-wrapper .banner-text {
    padding-right: 30px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider img {
    height: 310px; }
  .slick-slider .slick-prev {
    left: -50px; }
    .slick-slider .slick-prev:before {
      padding: 0 25px; }
  .slick-slider .slick-next:before {
    padding: 0 25px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/ }
@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 30px 30px; }

  h1 {
    font-size: 22px; }

  .section-title {
    padding-bottom: 13px; }

  p {
    line-height: 20px;
    margin-bottom: 13px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #resp-header-wrapper .custom-container .header-container {
    flex-direction: row-reverse; }
    #resp-header-wrapper .custom-container .header-container .logo-container {
      margin-right: 0; }
    #resp-header-wrapper .custom-container .header-container .login-request {
      display: none; }
  #resp-header-wrapper .custom-container .navigation ul li {
    padding-bottom: 26px; }
    #resp-header-wrapper .custom-container .navigation ul li a {
      font-size: 16px; }

  body.show-menu #header-wrapper .navigation {
    width: 100%;
    padding: 80px 20px 30px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .banner-section .banner-container.common-flex {
    flex-wrap: wrap-reverse; }
    #content-wrapper #home-page .banner-section .banner-container.common-flex .item:first-of-type {
      padding-right: 0;
      margin-bottom: 0;
      margin-top: 30px; }
    #content-wrapper #home-page .banner-section .banner-container.common-flex .item:last-of-type {
      padding-left: 0; }
  #content-wrapper #home-page .ongoing-projects-section .projects-container .project-item-wrapper .project-item {
    width: 100%; }
  #content-wrapper #login-page .custom-container {
    padding: 0; }
    #content-wrapper #login-page .custom-container .inner .img-container {
      padding-bottom: 100%;
      margin-bottom: 0; }
    #content-wrapper #login-page .custom-container .inner .login-form {
      padding: 30px 30px 50px; }
      #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .logo-container img {
        width: auto; }
  #content-wrapper #request-page {
    max-width: none;
    padding: 30px; }
    #content-wrapper #request-page .form-wrapper .information .search span {
      width: 15%; }
    #content-wrapper #request-page .form-wrapper .information .search input {
      width: 85%; }
    #content-wrapper #request-page #msform .common-btn {
      padding: 12px 35px; }

  .col-3 {
    width: auto; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .footer-container .logo {
    width: 100%; }
  #footer-wrapper .footer-container .footer-nav-container {
    width: 100%;
    margin-top: 30px;
    justify-content: initial; }
    #footer-wrapper .footer-container .footer-nav-container .items {
      width: 100%;
      padding-bottom: 20px;
      margin-left: 0; }

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-flex .item {
    width: 100%; }
    .common-flex .item:first-of-type {
      margin-bottom: 30px; }

  .common-select select {
    width: 100%; }

  .common-stories-section .story-item {
    flex-direction: column-reverse; }
    .common-stories-section .story-item .text-section {
      padding-right: 0;
      width: 100%;
      padding-top: 20px; }
    .common-stories-section .story-item .img-container {
      width: 100%; }
      .common-stories-section .story-item .img-container img {
        height: 212px; }

  .common-management-system-section .management-container .text-content {
    padding-right: 0; }
  .common-management-system-section .management-container .services-wrapper .service-item {
    width: 100%;
    margin-bottom: 30px; }
    .common-management-system-section .management-container .services-wrapper .service-item:nth-child(1) a, .common-management-system-section .management-container .services-wrapper .service-item:nth-child(2) a {
      margin-left: auto; }
    .common-management-system-section .management-container .services-wrapper .service-item a {
      margin: auto;
      height: 180px;
      width: 180px; }
      .common-management-system-section .management-container .services-wrapper .service-item a img {
        width: 100%;
        margin-bottom: 15px; }

  .common-page .banner-section .banner-wrapper {
    flex-direction: column-reverse; }
    .common-page .banner-section .banner-wrapper .banner-text {
      padding-right: 0;
      width: 100%; }
    .common-page .banner-section .banner-wrapper .img-container {
      width: 100%; }
      .common-page .banner-section .banner-wrapper .img-container img {
        height: 210px; }
  .common-page .fund-information-section {
    padding-top: 0;
    padding-bottom: 0; }

  .common-funding-section .custom-container {
    padding-top: 0;
    padding-bottom: 0; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider .slick-next {
    right: 0px; }
  .slick-slider .slick-prev {
    left: -35px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/ }

/*# sourceMappingURL=responsive.css.map */
