/**
 * Created by Susan Dangol
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white; }
  #header-wrapper .custom-container {
    padding-top: 30px;
    padding-bottom: 30px; }
    #header-wrapper .custom-container .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #header-wrapper .custom-container .header-container .menu-items {
        width: 35%; }
        #header-wrapper .custom-container .header-container .menu-items ul {
          display: flex;
          align-items: center; }
          #header-wrapper .custom-container .header-container .menu-items ul li {
            position: relative;
            margin-left: 20px; }
            #header-wrapper .custom-container .header-container .menu-items ul li a {
              padding-bottom: 15px;
              font-weight: 700; }
            #header-wrapper .custom-container .header-container .menu-items ul li:hover span img {
              transform: rotate(-180deg);
              transition: transform .2s ease-in-out; }
            #header-wrapper .custom-container .header-container .menu-items ul li:hover ul {
              display: block;
              position: absolute;
              width: 175px;
              box-shadow: 0px 2px 4px 0px;
              background-color: white;
              top: 35px;
              border-radius: 2px; }
              #header-wrapper .custom-container .header-container .menu-items ul li:hover ul li {
                padding: 15px 20px; }
                #header-wrapper .custom-container .header-container .menu-items ul li:hover ul li:last-of-type {
                  margin-left: 0px; }
                #header-wrapper .custom-container .header-container .menu-items ul li:hover ul li:hover {
                  background-color: #C10020; }
                  #header-wrapper .custom-container .header-container .menu-items ul li:hover ul li:hover a {
                    color: white; }
            #header-wrapper .custom-container .header-container .menu-items ul li:first-of-type {
              margin-left: 0px; }
            #header-wrapper .custom-container .header-container .menu-items ul li ul {
              display: none; }
            #header-wrapper .custom-container .header-container .menu-items ul li:last-of-type:hover span img {
              transform: none; }
            #header-wrapper .custom-container .header-container .menu-items ul li input {
              border: none;
              border-bottom: 1px solid; }
      #header-wrapper .custom-container .header-container .menu-btn {
        text-align: center;
        cursor: pointer;
        width: 30px;
        height: auto; }
        #header-wrapper .custom-container .header-container .menu-btn a {
          display: inline-block;
          width: 100%; }
          #header-wrapper .custom-container .header-container .menu-btn a span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all .4s ease-in-out; }
            #header-wrapper .custom-container .header-container .menu-btn a span:not(:last-of-type) {
              margin-bottom: 5px; }
      #header-wrapper .custom-container .header-container .logo-container {
        width: 25%; }
      #header-wrapper .custom-container .header-container .login-request {
        display: flex;
        align-items: center; }
        #header-wrapper .custom-container .header-container .login-request .login span {
          font-weight: 700;
          text-decoration: underline;
          color: black; }
        #header-wrapper .custom-container .header-container .login-request .covid-btn {
          margin-top: 0;
          margin-left: 20px; }
    #header-wrapper .custom-container .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: 9999;
      visibility: hidden;
      background: white;
      -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      padding: 50px 80px;
      transition: all .4s ease-in-out;
      padding-top: 100px; }
      #header-wrapper .custom-container .navigation:after {
        position: absolute;
        content: '';
        height: 40px;
        width: 40px;
        top: 0;
        right: 0; }
      #header-wrapper .custom-container .navigation ul {
        overflow-Y: scroll;
        height: 100%;
        position: relative;
        /* Track */
        /* Handle */
        /* Handle on hover */ }
        #header-wrapper .custom-container .navigation ul li {
          padding-bottom: 35px; }
          #header-wrapper .custom-container .navigation ul li a {
            color: black;
            font-size: 18px;
            font-weight: 700; }
            #header-wrapper .custom-container .navigation ul li a img {
              padding-right: 30px; }
          #header-wrapper .custom-container .navigation ul li.menu-item-has-children {
            padding-bottom: 0; }
            #header-wrapper .custom-container .navigation ul li.menu-item-has-children ul {
              padding: 35px;
              padding-bottom: 0;
              overflow-Y: initial; }
        #header-wrapper .custom-container .navigation ul::-webkit-scrollbar {
          width: 6px; }
        #header-wrapper .custom-container .navigation ul::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px; }
        #header-wrapper .custom-container .navigation ul::-webkit-scrollbar-thumb {
          background: grey;
          border-radius: 10px; }
        #header-wrapper .custom-container .navigation ul::-webkit-scrollbar-thumb:hover {
          background: #b30000; }
      #header-wrapper .custom-container .navigation .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer; }

body {
  background: #fff; }
  body.show-menu {
    overflow-y: hidden; }
    body.show-menu #header-wrapper .navigation {
      visibility: visible;
      opacity: 1;
      width: 600px;
      height: 100%; }
  body.login {
    background: #E5E5E5; }
    body.login #header-wrapper, body.login #footer-wrapper {
      display: none; }

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper #home-page .banner-section .banner-container {
  align-items: center; }
  #content-wrapper #home-page .banner-section .banner-container .item:first-of-type {
    padding-right: 60px; }
    #content-wrapper #home-page .banner-section .banner-container .item:first-of-type .progress-bar-wrapper {
      margin-top: 40px;
      width: 86%; }
      #content-wrapper #home-page .banner-section .banner-container .item:first-of-type .progress-bar-wrapper p {
        font-weight: 500;
        text-align: right;
        margin-top: 10px; }
  #content-wrapper #home-page .banner-section .banner-container .item:last-of-type {
    padding-left: 60px; }
    #content-wrapper #home-page .banner-section .banner-container .item:last-of-type .banner-slider .slider-item img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center; }
#content-wrapper #donation-page .details-section .details-wrapper {
  display: flex; }
  #content-wrapper #donation-page .details-section .details-wrapper .information-container {
    width: 60%; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item {
      padding-right: 40px;
      padding-bottom: 60px; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .img-container {
        height: 660px; }
        #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .img-container img {
          width: 100%;
          height: 660px;
          object-fit: cover;
          object-position: center; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .title {
        margin: 20px 0; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .project-item .text-content .author {
        margin-bottom: 20px; }
    #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section {
      padding-right: 40px; }
      #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item {
        display: flex;
        border-bottom: 1px solid grey;
        margin-bottom: 50px; }
        #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .img-container {
          padding-bottom: 30px;
          width: 25%; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .img-container img {
            height: 100%; }
        #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .text {
          padding-bottom: 30px; }
          #content-wrapper #donation-page .details-section .details-wrapper .information-container .all-donations-section .donation-items-section .donation-item .text .amount {
            padding-bottom: 10px; }
  #content-wrapper #donation-page .details-section .details-wrapper .donate-section {
    width: 40%; }
    #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper {
      padding: 30px;
      box-shadow: 0px 0px 7px 0px lightgrey;
      position: sticky;
      top: 0; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .progress-bar-wrapper .progress {
        margin-top: 30px; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .btn-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 30px; }
      #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation {
        padding-top: 30px; }
        #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .title {
          padding-bottom: 15px; }
        #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .inner {
          display: flex;
          align-items: center; }
          #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .inner .text {
            display: flex;
            align-items: center;
            margin-left: 10px; }
            #content-wrapper #donation-page .details-section .details-wrapper .donate-section .donation-wrapper .donation-text .top-donation .inner .text p {
              margin-bottom: 0; }
#content-wrapper #login-page .custom-container {
  padding-bottom: 30px;
  padding-top: 30px; }
  #content-wrapper #login-page .custom-container .inner {
    background: #fff; }
    #content-wrapper #login-page .custom-container .inner .img-container {
      position: relative;
      padding-bottom: 60%; }
      #content-wrapper #login-page .custom-container .inner .img-container img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center; }
    #content-wrapper #login-page .custom-container .inner .login-form {
      padding: 90px 80px; }
      #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .logo-container {
        margin-bottom: 30px; }
      #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .section-title {
        padding-bottom: 20px; }
      #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .desc p {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase; }
        #content-wrapper #login-page .custom-container .inner .login-form .logo-with-text .desc p a {
          color: black;
          text-decoration: underline; }
      #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper {
        margin-top: 80px; }
        #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group {
          margin-bottom: 30px; }
          #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group .form-control {
            background: #FCFCFC;
            padding: 23px 30px;
            border: 1px solid #CECECE;
            font-size: 18px; }
            #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group .form-control:focus {
              outline: none;
              box-shadow: none; }
          #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group input::-webkit-input-placeholder, #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group input:-moz-placeholder, #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .fields .form-group input:-ms-input-placeholder {
            font-size: 18px;
            font-weight: 700; }
        #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .action h5 {
          margin-top: 20px;
          text-decoration: underline; }
          #content-wrapper #login-page .custom-container .inner .login-form .form-wrapper form .action h5 a {
            color: black; }
#content-wrapper #request-page {
  position: relative;
  min-height: 400px;
  max-width: 430px;
  margin: auto;
  padding: 60px 0; }
  #content-wrapper #request-page .form-wrapper .information {
    display: flex;
    flex-direction: column; }
    #content-wrapper #request-page .form-wrapper .information .item {
      display: flex;
      flex-direction: column;
      padding-bottom: 25px; }
      #content-wrapper #request-page .form-wrapper .information .item label {
        padding-bottom: 10px; }
    #content-wrapper #request-page .form-wrapper .information .search {
      margin-bottom: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      border: 1px solid; }
      #content-wrapper #request-page .form-wrapper .information .search input {
        width: 93%;
        border: none; }
      #content-wrapper #request-page .form-wrapper .information .search span {
        width: 7%;
        padding-left: 10px; }
    #content-wrapper #request-page .form-wrapper .information input {
      padding: 15px;
      border-radius: 10px;
      width: 100%; }
    #content-wrapper #request-page .form-wrapper .information select {
      padding: 15px; }
    #content-wrapper #request-page .form-wrapper .information .img-container {
      padding-bottom: 30px;
      text-align: end; }
      #content-wrapper #request-page .form-wrapper .information .img-container img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover; }
      #content-wrapper #request-page .form-wrapper .information .img-container span {
        margin-right: 3px; }
        #content-wrapper #request-page .form-wrapper .information .img-container span img {
          width: 12px;
          height: 12px; }
  #content-wrapper #request-page #msform {
    text-align: center;
    position: relative; }
    #content-wrapper #request-page #msform fieldset {
      border: 0 none;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      position: relative; }
      #content-wrapper #request-page #msform fieldset:not(:first-of-type) {
        display: none; }
    #content-wrapper #request-page #msform .common-btn {
      max-width: 500px;
      padding: 12px 50px;
      border-radius: 5px;
      margin: 0; }
    #content-wrapper #request-page #msform .flex-btn {
      max-width: 500px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 30px; }
    #content-wrapper #request-page #msform .form-content {
      padding-bottom: 30px;
      text-align: left; }
      #content-wrapper #request-page #msform .form-content.last input {
        margin-bottom: 15px; }

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper {
  background: #f3f3f3; }
  #footer-wrapper .footer-container {
    display: flex;
    flex-wrap: wrap; }
    #footer-wrapper .footer-container .logo {
      width: 25%; }
    #footer-wrapper .footer-container .footer-nav-container {
      width: 75%;
      display: flex;
      flex-wrap: wrap; }
      #footer-wrapper .footer-container .footer-nav-container .items {
        margin-left: 60px; }
        #footer-wrapper .footer-container .footer-nav-container .items:first-of-type {
          margin-left: 0; }
        #footer-wrapper .footer-container .footer-nav-container .items ul li {
          text-transform: uppercase;
          padding-bottom: 10px; }
          #footer-wrapper .footer-container .footer-nav-container .items ul li a {
            color: black; }
          #footer-wrapper .footer-container .footer-nav-container .items ul li:nth-child(1) {
            padding-bottom: 24px;
            font-size: 24px;
            font-weight: 700; }

/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
.common-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px; }
  .common-items-container .item {
    width: 33.33%;
    padding: 20px; }
    .common-items-container .item:hover {
      cursor: pointer; }
    .common-items-container .item .inner {
      padding: 20px;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 315px;
      width: 315px; }
      .common-items-container .item .inner .img-container {
        padding-bottom: 30px; }

.common-progress-bar .progress {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background: #F7F7F7;
  border-radius: 20px; }
  .common-progress-bar .progress .bar {
    background: #92C755;
    height: 100%;
    border-radius: 20px;
    position: relative; }
    .common-progress-bar .progress .bar .pct {
      text-align: center;
      margin-top: 3px;
      color: white;
      font-weight: 500; }

.common-projects .text-content {
  max-width: 1000px;
  margin-bottom: 42px; }
.common-projects .project-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -40px; }
  .common-projects .project-item-wrapper .project-item {
    width: 33.33%;
    padding: 40px; }
    .common-projects .project-item-wrapper .project-item img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center; }
    .common-projects .project-item-wrapper .project-item .text-content {
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.04);
      padding: 25px; }
      .common-projects .project-item-wrapper .project-item .text-content .author {
        margin: 15px 0; }
      .common-projects .project-item-wrapper .project-item .text-content p {
        font-size: 10px;
        line-height: 20px; }
      .common-projects .project-item-wrapper .project-item .text-content .progress-bar-wrapper {
        margin-top: 15px; }
        .common-projects .project-item-wrapper .project-item .text-content .progress-bar-wrapper .progress {
          height: 20px; }
          .common-projects .project-item-wrapper .project-item .text-content .progress-bar-wrapper .progress .pct {
            margin-top: -3px; }
        .common-projects .project-item-wrapper .project-item .text-content .progress-bar-wrapper p {
          text-align: right;
          font-weight: 500;
          margin-top: 6px; }

.common-page .banner-section .banner-wrapper {
  display: flex;
  align-items: center; }
  .common-page .banner-section .banner-wrapper .banner-text {
    width: 50%; }
  .common-page .banner-section .banner-wrapper .img-container {
    width: 50%; }
    .common-page .banner-section .banner-wrapper .img-container img {
      width: 100%;
      height: 505px;
      object-fit: cover;
      object-position: center; }
.common-page .fund-information-section {
  text-align: center; }
  .common-page .fund-information-section .fund-information {
    display: flex; }
    .common-page .fund-information-section .fund-information .info-item {
      width: 50%; }
      .common-page .fund-information-section .fund-information .info-item:first-of-type {
        border-right: 1px solid lightgrey; }

.common-stories-section .story-item {
  display: flex;
  align-items: center; }
  .common-stories-section .story-item .text-section {
    width: 50%; }
  .common-stories-section .story-item .img-container {
    width: 50%; }
    .common-stories-section .story-item .img-container img {
      width: 100%;
      height: 515px;
      object-position: center;
      object-fit: cover; }

.common-management-system-section .management-container {
  margin-bottom: -40px; }
  .common-management-system-section .management-container .section-title {
    text-align: center;
    width: 100%; }
  .common-management-system-section .management-container .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .common-management-system-section .management-container .services-wrapper .service-item {
      width: 25%;
      padding-bottom: 40px; }
      .common-management-system-section .management-container .services-wrapper .service-item .inner {
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 215px;
        width: 215px;
        margin: auto; }
        .common-management-system-section .management-container .services-wrapper .service-item .inner .img-container {
          margin-bottom: 30px; }
        .common-management-system-section .management-container .services-wrapper .service-item .inner .title p {
          font-weight: 500;
          color: black; }

.common-funding-section .funding-container {
  margin-bottom: 40px; }
  .common-funding-section .funding-container .text h3 {
    font-weight: 400; }
  .common-funding-section .funding-container .action .covid-btn {
    padding: 20px 70px;
    font-size: 24px;
    text-transform: initial; }

.common-select select {
  height: 46px;
  width: 185px;
  padding: 10px;
  font-weight: 700;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url("../img/icons/drop-down.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 20px; }
  .common-select select:focus {
    outline: none; }

.common-table {
  overflow-x: auto; }
  .common-table .table thead {
    background: #f9f9f9; }
    .common-table .table thead th {
      vertical-align: middle; }
  .common-table .table tr {
    border: 1px solid #CECECE;
    box-sizing: border-box; }
    .common-table .table tr td {
      font-weight: 500; }
      .common-table .table tr td a {
        color: black; }

/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev {
  left: -60px; }
.slick-slider .slick-next {
  right: -20px; }
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  color: #000000;
  font-family: none;
  background-color: transparent;
  padding: 25px; }
.slick-slider .slick-prev:before {
  content: '';
  background-image: url("../images/slider-left-bth.png");
  background-position: center;
  background-repeat: no-repeat; }
.slick-slider .slick-next:before {
  content: '';
  background-image: url("../images/slider-right-bth.png");
  background-position: center;
  background-repeat: no-repeat; }
.slick-slider img {
  width: 100%;
  object-fit: cover;
  height: 580px; }

.slick-dots {
  bottom: -40px;
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*.modal-dialog{
    margin: 70px auto;
    .modal-header{
      padding: 0;
      border: 0;
      button{
        position: absolute;
        top: -30px;
        right: 0;
        color: #fff;
        opacity: 1;
      }
    }
    .modal-content{
      background: black;
      border-radius: 0;
      .modal-body{
        padding: 30px 26px;
        .modal-loading-gif{
          height: 130px;
          position: relative;
          img{
            width: 30px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top:50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }
        p,h1,h2,h3,h4,h5,h6,ul li,ol li,span{
          color: #fff;
        }
      }
    }
  }*/ }
  .slick-dots li button:before {
    font-size: 14px; }
  .slick-dots li.slick-active button:before {
    color: #c10020; }

/*--------------------------------------- Modal Ends --------------------------------------*/

/*# sourceMappingURL=thestyles.css.map */
