/**
 * Created by Susan Dangol
*/

@import "components/fonts_and_colors";



/*------------------------------------ Site Wide Starts -----------------------------------*/

/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  .custom-container{
    padding-top:30px ;
    padding-bottom:30px ;
    .header-container{
      display: flex;
      justify-content: space-between;
      align-items:center;
      .menu-items{
        width: 35%;
        ul{
          display: flex;
          align-items: center;
          li{
            position: relative;
            margin-left: 20px;
            a{
              padding-bottom: 15px;
              font-weight: 700;
            }
            &:hover{
              span{
                img{
                  transform: rotate(-180deg);
                  transition: transform .2s ease-in-out;
                }
              }
              ul{
                display: block;
                position: absolute;
                width: 175px;
                box-shadow: 0px 2px 4px 0px;
                background-color: white;
                top: 35px;
                border-radius: 2px;
                li{
                  padding: 15px 20px;
                  &:last-of-type{
                    margin-left: 0px;
                  }
                  &:hover{
                    background-color: #C10020;
                    a{
                      color: white;
                    }
                  }
                }
              }
            }
            &:first-of-type{
              margin-left: 0px;
            }
            ul{
              display: none;
            }
            &:last-of-type{
              &:hover{
                span{
                  img{
                    transform: none;
                  }
                }
              }
            }
            input{
              border: none;
              border-bottom: 1px solid;
            }
          }
        }
      }
      .menu-btn {
        text-align: center;
        cursor: pointer;
        width: 30px;
        height: auto;
        a {
          display: inline-block;
          width: 100%;
          span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all .4s ease-in-out;
            &:not(:last-of-type) {
              margin-bottom: 5px;
            }
          }
        }
        //&.active {
        //  span {
        //    &.bar1 {
        //      transform: translateY(8px) rotate(-45deg);
        //    }
        //    &.bar2 {
        //      opacity: 0;
        //      visibility: hidden;
        //      transform: scaleX(2);
        //    }
        //    &.bar3 {
        //      transform: translateY(-6px) rotate(-135deg);
        //    }
        //  }
        //}
      }
      .logo-container{
        width: 25%;
      }
      .login-request{
        display: flex;
        align-items: center;
        .login{
          position: relative;
          padding: 10px 0;
          span{
            font-weight: 700;
            text-decoration: underline;
            color: $black;
          }
          .login-dropdown{
            position: absolute;
            background-color: white;
            padding: 20px;
            box-shadow: 0px 0px 3px 1px lightgrey;
            left: -48px;
            width: max-content;
            display: none;
            z-index: 999;
            top: 40px;
            .img-container{
              display: flex;
              align-items: center;
              margin-bottom: 12px;
              img{
                width: 30%;
              }
              h5{
                margin-left: 10px;
              }
            }
            .options-section{
              p{
                a{
                  &:hover{
                    color: #c10020;
                  }
                }
              }
            }
          }
          &:hover{
            .login-dropdown{
              display: block;
            }
          }
        }
        .covid-btn{
          margin-top: 0;
          margin-left: 20px;
        }
      }

    }
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: 9999;
      visibility:hidden;
      background: $white;
      -ms-box-shadow: 0 0 20px rgba(0,0,0,.3);
      -o-box-shadow: 0 0 20px rgba(0,0,0,.3);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3 );
      padding: 50px 80px;
      transition: all .4s ease-in-out;
      padding-top: 100px;
      &:after{
        position: absolute;
        content: '';
        height: 40px;
        width: 40px;
        top: 0;
        right: 0;
      }
      ul{
        overflow-Y: scroll;
        height: 100%;
        position: relative;
        li{
          padding-bottom: 35px;
          a{
            color: $black;
            font-size: 18px;
            font-weight: 700;
            img{
              padding-right: 30px;
            }
          }
          &.menu-item-has-children{
            padding-bottom: 0;
            ul{
              padding: 35px;
              padding-bottom:0;
              overflow-Y:initial;
            }
          }
        }
        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: grey;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #b30000;
        }
      }
      .close-btn{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }
  }
  .search-bar{
    display: none;
    position: absolute;
    bottom: -172%;
    left: 0;
    width: 350px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px lightgrey;
    flex-wrap: wrap;
    z-index: 99999999999999999999;
    span{
      width: 100%;
      padding-bottom: 10px;
    }
    input{
      width: 100%;
      border-radius: 5px;
      padding: 8px;
    }
  }

}

#resp-header-wrapper{
  display: none;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  .custom-container{
    padding-top:30px ;
    padding-bottom:30px ;
    .header-container{
      display: flex;
      justify-content: space-between;
      align-items:center;
      .menu-btn {
        text-align: center;
        cursor: pointer;
        width: 30px;
        height: auto;
        a {
          display: inline-block;
          width: 100%;
          span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all .4s ease-in-out;
            &:not(:last-of-type) {
              margin-bottom: 5px;
            }
          }
        }
        //&.active {
        //  span {
        //    &.bar1 {
        //      transform: translateY(8px) rotate(-45deg);
        //    }
        //    &.bar2 {
        //      opacity: 0;
        //      visibility: hidden;
        //      transform: scaleX(2);
        //    }
        //    &.bar3 {
        //      transform: translateY(-6px) rotate(-135deg);
        //    }
        //  }
        //}
      }
      .logo-container{
        margin-right: -180px;
      }
      .login-request{
        display: flex;
        align-items: center;
        .login{
          span{
            font-weight: 700;
            text-decoration: underline;
            color: $black;
          }
        }
        .covid-btn{
          margin-top: 0;
          margin-left: 20px;
        }
      }

    }
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: 9999;
      visibility:hidden;
      background: $white;
      -ms-box-shadow: 0 0 20px rgba(0,0,0,.3);
      -o-box-shadow: 0 0 20px rgba(0,0,0,.3);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3 );
      padding: 50px 80px;
      transition: all .4s ease-in-out;
      padding-top: 100px;
      &:after{
        position: absolute;
        content: '';
        height: 40px;
        width: 40px;
        top: 0;
        right: 0;
      }
      ul{
        overflow-Y: scroll;
        height: 100%;
        position: relative;
        li{
          padding-bottom: 35px;
          a{
            color: $black;
            font-size: 18px;
            font-weight: 700;
            img{
              padding-right: 30px;
            }
          }
          &.menu-item-has-children{
            padding-bottom: 0;
            ul{
              padding: 20px;
              padding-bottom:0;
              overflow-Y:initial;
            }
          }
          input{
            border: none;
            border-bottom: 1px solid;
          }
        }
        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: grey;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #b30000;
        }
      }
      .close-btn{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }
  }
}

body{
  background: #fff;
  &.show-menu{
    overflow-y: hidden;
    #resp-header-wrapper{
      .custom-container {
        .navigation {
          visibility: visible;
          opacity: 1;
          width: 600px;
          height: 100%;
        }
      }
    }
  }
  &.login{
    background: #E5E5E5;
    #header-wrapper, #footer-wrapper{
      display: none;
    }
  }
  &.show-search{
    #header-wrapper{
      .header-container{
        position: relative;
      }
      .search-bar{
        display: flex;
        transition: all .4s ease-in-out;
      }
    }
  }
}
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper{
  #home-page{
    .banner-section{
      .banner-container{
        align-items: center;
        .item{
          &:first-of-type{
            padding-right: 60px;
            .progress-bar-wrapper{
              margin-top: 40px;
              width: 86%;
              p{
                font-weight: 500;
                text-align: right;
                margin-top: 10px;
              }
            }
          }
          &:last-of-type{
            padding-left: 60px;
            .banner-slider{
              .slider-item {
                img{
                  width: 100%;
                  height: auto;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
          }
        }
      }
    }
    .ongoing-projects-section{
      .project-item{
        .text-content{

        }
      }
    }
  }
  #donation-page{
    .details-section{
      .details-wrapper {
        display: flex;

        .information-container {
          width: 60%;

          .project-item {
            padding-right: 40px;
            padding-bottom: 60px;
            .img-container {
              height: 660px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }

            .text-content {
              .title {
                margin: 20px 0;
              }

              .author {
                margin-bottom: 20px;
              }
            }
          }

          .all-donations-section {
            padding-right: 40px;
            .donation-items-section {
              .donation-item {
                display: flex;
                border-bottom: 1px solid grey;
                margin-bottom: 50px;
                align-items: center;
                .img-container {
                  padding-bottom: 30px;
                  width: 25%;

                  img {
                    height: 95px;
                  }
                }

                .text {
                  padding-bottom: 30px;

                  .amount {
                    padding-bottom: 10px;
                  }
                }
              }
            }
          }
        }

        .donate-section {
          width: 40%;

          .donation-wrapper {
            padding: 30px;
            box-shadow: 0px 0px 7px 0px lightgrey;
            position: sticky;
            top: 0;
            .progress-bar-wrapper {
              .progress {
                margin-top: 30px;
              }
            }

            .btn-section {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              padding-bottom: 30px;
            }

            .donation-text {
              .top-donation {
                padding-top: 30px;

                .title {
                  padding-bottom: 15px;
                }

                .inner {
                  display: flex;
                  align-items: center;

                  .text {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;

                    p {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #login-page{
    .custom-container {
      padding-bottom: 30px;
      padding-top: 30px;
      .inner{
        background: #fff;
        .img-container{
          position: relative;
          padding-bottom: 60%;
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
          }
        }
        .login-form{
          padding: 90px 80px;
          .logo-with-text{
            .logo-container{
              margin-bottom: 30px;
            }
            .section-title{
             padding-bottom: 20px;
            }
            .desc{
              p{
                font-weight: 700;
                font-size: 10px;
                text-transform: uppercase;
                a{
                  color: $black;
                  text-decoration: underline;
                }
              }
            }
          }
          .form-wrapper{
            margin-top: 80px;
            form{
              .fields{
                .form-group{
                  margin-bottom: 30px;
                  .form-control{
                    background: #FCFCFC;
                    padding: 23px 30px;
                    border: 1px solid #CECECE;
                    font-size: 18px;
                    &:focus{
                      outline: none;
                      box-shadow: none;
                    }

                  }
                  input{
                    &::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder{
                      font-size: 18px;
                      font-weight: 700;
                    }
                  }
                }
              }
              .action{
                h5{
                  margin-top: 20px;
                  text-decoration: underline;
                  a{
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #request-page{
    position: relative;
    min-height: 400px;
    max-width: 430px;
    margin: auto;
    padding: 60px 0;
    .form-wrapper{
      .information{
        display: flex;
        flex-direction: column;
        .item{
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        label{
          padding-bottom: 10px;
        }
      }
        .search{
        margin-bottom: 25px;
        border-radius: 10px;
          display: flex;
          align-items: center;
          border: 1px solid;
          input{
            width: 93%;
            border: none;
          }
          span{
            width: 7%;
            padding-left: 10px;
          }
      }
        input{
          padding: 15px;
          border-radius: 10px;
          width: 100%;
        }
        select{
          padding: 15px;
        }
        .img-container{
          padding-bottom: 30px;
          text-align: end;
          img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
          span{
            margin-right: 3px;
            img{
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    #msform {
      text-align: center;
      position: relative;

      fieldset {
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        position: relative;

        &:not(:first-of-type) {
          display: none
        }
      }
      .common-btn{
        max-width: 500px;
        padding: 12px 50px;
        border-radius: 5px;
        margin: 0;
      }
      .flex-btn{
        max-width: 500px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
      }
      .form-content{
        padding-bottom: 30px;
        text-align: left;
        &.last{
          input{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  #donation-inner-page{
    .donation-wrapper{
      max-width: 1110px;
      margin: auto;
      display: flex;
      .donate-info-section{
        width: 70%;
        box-shadow: 0px 0px 7px 0px lightgrey;
        padding: 35px;
        margin-right: 80px;
        .donation-info {
          display: flex;
          align-items: center;
          padding-bottom: 25px;
          .img-container {
            width: 50%;
            height: 300px;
            box-shadow: 12px 12px 10px 0px grey;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .info {
            width: 50%;
            padding-left: 30px;
            p{
              &:first-of-type{
                font-weight: bold;
              }
            }
            span{
              font-weight: bold;
            }
          }
        }
        .donation-amount{
          padding-bottom: 25px;
          h3{
            padding-bottom: 15px;
          }
          .donation{
            border-radius: 10px;
            display: flex;
            align-items: center;
            border: 1px solid;
            width: 50%;
            span{
              width: 15%;
              padding-left: 10px;
            }
            input{
              width: 83%;
              border: none;
              height: 45px;
              &:focus-visible{
                outline: none;
              }
            }
          }
        }
        .tip-section{
          padding-bottom: 25px;
          h3{
            padding-bottom: 15px;
          }
          p{
            margin-top: 8px;
          }
          span{
            font-weight: bold;
            font-size: 25px;
          }
        }
        .optional-section{
          label{
            width: 95%;
          }
        }
      }
      .donation-summary{
        width: 30%;
        tr, td{
          border-bottom: none;
        }
        tr{
          &:last-of-type{
            border-top: 1px solid lightgrey;
          }
        }
      }
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 50%;
      background: #d3d3d3;
      outline: none;
      opacity: 1;
      -webkit-transition: .2s;
      transition: opacity .2s;

    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      background: #c10020;
      cursor: pointer;
      position: relative;
      border-radius: 50%;
    }

    .slider::-moz-range-thumb {
      width: 23px;
      height: 24px;
      border-radius: 50%;
      border: 0;
      background: #c10020;
      cursor: pointer;
    }
    .covid-btn{
      margin-top: 20px;
      width: 100% !important;
    }
  }
  #fundraisers-page, .common-page{
    .projects-container{
      .btn-section{
        text-align: end;
      }
    }
  }
}
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper{
  background: $grey;
  .footer-container{
    display: flex;
    flex-wrap: wrap;
    .logo{
      width: 25%;
    }
    .footer-nav-container{
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      .items{
        margin-left: 60px;
        &:first-of-type{
          margin-left: 0;
        }
        ul{
          li{
            text-transform: uppercase;
            padding-bottom: 10px;
            a{
              color: $black;
            }
            &:nth-child(1){
              padding-bottom: 24px;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
        }
      }
  }
}
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
.common-items-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px;
  .item{
    width: 33.33%;
    padding: 20px;
    &:hover{
      cursor: pointer;
    }
    .inner{
      padding: 20px;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 315px;
      width: 315px;
      .img-container{
        padding-bottom: 30px;
      }
    }
  }
}

.common-progress-bar{
  .progress {
    width: 100%;
    height:30px;
    margin-bottom:10px;
    background: #F7F7F7;
    border-radius: 20px;
    .bar{
      background: #92C755;
      height: 100%;
      border-radius: 20px;
      position: relative;
      //&:after {
      //  content: '';
      //  right: 0;
      //  top: 0;
      //  position: absolute;
      //  height: 100%;
      //  width: 100%;
      //  background: linear-gradient(
      //      -45deg,
      //                  transparent 33%,
      //                  rgba(240, 240, 240, 0.5) 33%,
      //                  rgba(240, 240, 240, 0.5) 40%,
      //                  transparent 40%,
      //                  transparent 63%,
      //                  rgba(240, 240, 240, 0.5) 63%,
      //                  rgba(240, 240, 240, 0.5) 70%,
      //                  transparent 70%);
      //
      //  background-size: 75px 100%;
      //}
      .pct {
        text-align: center;
        margin-top: 3px;
        color: $white;
        font-weight: 500;
      }
    }
  }
}


.common-projects{
  .text-content{
    max-width: 1000px;
  }
  .project-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px -40px -40px;
    .project-item{
      width: 33.33%;
      padding: 40px;
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
      .text-content{
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.04);
        padding: 25px;
        .author{
          margin: 15px 0;
        }
        p{
          font-size: 10px;
          line-height: 20px;
        }
        .progress-bar-wrapper{
          margin-top: 15px;
          .progress{
            height: 20px;
            .pct{
              margin-top: -3px;
            }
          }

          p{
            text-align: right;
            font-weight: 500;
            margin-top: 6px;
          }
        }
        .title{
          position: relative;
          .dot-nav{
            position: absolute;
            top: 0;
            right: 0;
            padding-left: 50px;
            span{
              width: 3px;
              height: 3px;
              background-color: black;
              border-radius: 50%;
              display: block;
              margin-bottom: 3px;
            }
            &:hover{
              .nav-content {
                display: block;
              }
            }
            .nav-content{
              width: max-content;
              display: none;
              position: absolute;
              top: 100%;
              right: 0;
              text-align: end;
              background-color: white;
              box-shadow: 0px 2px 7px 0px lightgrey;
              p{
                margin-bottom: 0;
                padding: 8px 15px;
                &:hover{
                  background-color: #c10020;
                }
              }
            }
          }
        }
      }
    }
  }
}

.common-page{
  .banner-section{
    .banner-wrapper {
      display: flex;
      align-items: center;

      .banner-text {
        width: 50%;
      }

      .img-container {
        width: 50%;

        img {
          width: 100%;
          height: 505px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  .fund-information-section{
    text-align: center;
    .fund-information{
      display: flex;
      .info-item{
        width: 50%;
        &:first-of-type{
          border-right: 1px solid lightgrey;
        }
      }
    }
  }
}

.common-stories-section{
  .story-item{
    display: flex;
    align-items: center;
    .text-section{
      width: 50%;
      padding-right: 70px;
    }
    .img-container{
      width: 50%;
      img{
        width: 100%;
        height: 515px;
        object-position: center;
        object-fit: cover;
      }
    }
  }
}

.common-management-system-section{
  .management-container{
    margin-bottom: -40px;
    .section-title{
      text-align: center;
      width: 100%;
    }
    .services-wrapper{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .service-item{
        width: 25%;
        padding-bottom: 40px;
        .inner{
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
          border: none;
          border-radius: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 215px;
          width: 215px;
          margin: auto;
          .img-container{
            margin-bottom: 30px;
          }
          .title{
            p{
              font-weight: 500;
              color:$black;
            }
          }
        }
      }
    }
  }
}


.common-funding-section{
  .funding-container{
    margin-bottom: 40px;
    .text{
      h3{
        font-weight: 400;
      }
    }
    .action{
      .covid-btn{
        padding: 20px 70px;
        font-size: 24px;
        text-transform: initial;
      }
    }
  }
}

.common-select{
  select{
    height: 46px;
    width: 185px;
    padding: 10px;
    font-weight: 700;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: transparent;
    background-image: url("../img/icons/drop-down.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 20px;
    &:focus{
      outline: none;
    }
  }
}
.common-table{
  overflow-x: auto;
  .table{
    thead{
      background: rgba(249, 249, 249, 1);
      th{
        vertical-align: middle;
      }
    }
    tr{
      border: 1px solid #CECECE;
      box-sizing: border-box;
      td{
        font-weight: 500;
        a{
          color: $black;
        }
      }
    }
  }
}

/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider{
  .slick-prev,.slick-next{

  }

  .slick-prev{
    left: -60px;
  }

  .slick-next{
    right: -20px;
  }

  .slick-prev:before, .slick-next:before {
    color: #000000;
    font-family: none;
    background-color: transparent;
    padding: 25px;
  }

  .slick-prev:before{
    content: '';
    background-image: url("../images/slider-left-bth.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .slick-next:before {
    content: '';
    background-image: url("../images/slider-right-bth.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  img{
    width: 100%;
    object-fit: cover;
    height: 580px;
  }
}

.slick-dots {
  bottom: -40px;
  li {
    button{
      &:before{
        font-size: 14px;
      }
    }
    &.slick-active {
      button{
        &:before {
          color: $red;
        }
      }
    }
  }
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*.modal-dialog{
    margin: 70px auto;
    .modal-header{
      padding: 0;
      border: 0;
      button{
        position: absolute;
        top: -30px;
        right: 0;
        color: #fff;
        opacity: 1;
      }
    }
    .modal-content{
      background: black;
      border-radius: 0;
      .modal-body{
        padding: 30px 26px;
        .modal-loading-gif{
          height: 130px;
          position: relative;
          img{
            width: 30px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top:50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }
        p,h1,h2,h3,h4,h5,h6,ul li,ol li,span{
          color: #fff;
        }
      }
    }
  }*/
}
/*--------------------------------------- Modal Ends --------------------------------------*/